{% extends 'rainbow/base.html' %}

      
{% block content %}
  {% if user.is_authenticated %}
    <h3 style=color:tomato> Hello, unicorn <t style=color:teal> {{ user.username }}! </t> <br></br>
      welcome to a happy place!
    </h3>
  {% else %}
    <h3 style=color:tomato> Dear unicorn, <br></br> 
      welcome to a happy place! </h3> <br></br> 
    <h4 style=color:teal> Oopsy, you are not logged in </h4>
  {% endif %}
{% endblock content %}


{% block menu %}
<h4>
<ul class="nav nav-pills nav-stacked" style="margin-left:10px; margin-right:100px">
  <li class=""><a href="{% url 'articles:list_articles' %}" style= color:purple >Articles</a></li>
  <li class=""><a href="{% url 'articles:create_articles' %}" style= color:purple>Create Article</a></li>
  <li class=""><a href="{% url 'articles:edit_articles' %}"style= color:purple>Edit Article</a></li>    
</ul>
</h4>
{% endblock menu %}
