{% extends 'articles/base.html' %}
{% load staticfiles %}

<!-- Style of this page is different from base.html -->
{% block page_style %}
  <link rel="stylesheet" href="{% static 'articles/css/styledetail.css' %}">
{% endblock page_style %}

<!-- Main content of the blog -->
{% block content %}
  <h2 style=color:green>{{ articles.title }}</h2>
  <h5 style=color:coral><span class="glyphicon glyphicon-time"></span> Post by {{ articles.author }}, {{ articles.created_at }}</h5>
  <p align="justify" size="100 px">{{ articles.description|linebreaksbr }}</p>
{% endblock content %}

<!-- Menu column on the left -->
{% block menu %}
  <h4>
    <ul class="nav nav-pills nav-stacked" style="margin-left:10px; margin-right:100px">
      <li class="active"><a href="{% url 'articles:list_articles' %}" style="background-color:sandybrown; color:white;">Articles</a></li>
      <li class=""><a href="{% url 'articles:create_articles' %}" style=color:purple>Create Article</a></li>
      <li class=""><a href="{% url 'articles:edit_articles' %}" style=color:purple>Edit Article</a></li>    
    </ul>
  </h4>
{% endblock menu %}
