{% extends 'articles/base.html' %}

{% block content %}

<h2>{{ articles.title }}</h2>
<h5><span class="glyphicon glyphicon-time"></span> Post by {{ articles.author }}, {{ articles.created_at }}</h5>
<p>{{ articles.description }}</p>
<a href="{% url 'articles:edit_this_article' pk=articles.pk %}" class="btn btn-info">Edit</a>
<a href="{% url 'articles:delete_article' pk=articles.pk %}" class="btn btn-danger">Delete</a>
<br><br>


{% endblock %}

{% block menu %}
	<ul class="nav nav-pills nav-stacked">
        <li class=""><a href="{% url 'articles:list_articles' %}" style=color:goldenrod>Articles</a></li>
        <li class=""><a href="{% url 'articles:create_articles' %}" style=color:goldenrod>Create Article</a></li>
        <li class=""><a href="{% url 'articles:edit_articles' %}" style=color:goldenrod>Edit Article</a></li>    
      </ul>
{% endblock %}
