{% extends 'articles/base.html' %}


{% block content %}
       
    <h2> Edit your article here </h2> 
    <br></br> 
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}

{% block auth %}
<a href= "{% url 'articles:sign_up_user' %}" style="float: right;" class="btn btn-info">Sign up</a>
{% if user.is_authenticated %}
<a href="{% url 'articles:logout_this_user' %}" style="float: right;" class="btn btn-info">Log out</a> 
{% else %}
<a href="{% url 'articles:login_this_user' %}" style="float: right;" class="btn btn-info">Log in</a> 
{% endif %}  
{% endblock %}

{% block menu %}
	<ul class="nav nav-pills nav-stacked">
        <li class=""><a href="{% url 'articles:list_articles' %}" style= color:purple >Articles</a></li>
        <li class=""><a href="{% url 'articles:create_articles' %}" style= color:purple>Create Article</a></li>
        <li class="active"><a href="{% url 'articles:edit_articles' %}" style="background-color:yellowgreen; color:white;">Edit Article</a></li>    
      </ul>
{% endblock %}

