{% extends 'articles/base.html' %}

<!-- Main content of the blog -->
{% block content %}
  {% for article in articles %}        
    <h2 style=color:green>{{ article.title }}</h2>
    <h5 style=color:coral><span class="glyphicon glyphicon-time"></span> Post by {{ article.author }}, {{ article.created_at }}</h5>

    {% if article.author == user.username or user.is_superuser %}
      <a href="{% url 'articles:edit_this_article' pk=article.pk %}" class="btn btn-info" style="background-color:teal; border:none; color:white;" >Edit</a>
      <!-- Button trigger modal -->
      <button type="button" style="background-color:tomato; border:none; color:white;" class="btn btn-danger" data-toggle="modal" data-target="#myModal{{article.pk}}">Delete</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal{{article.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this article ?</h4>
            </div>
      
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a href="{% url 'articles:delete_article' pk=article.pk %}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>
    {% else %}
    <button type="button" disabled class="btn btn-info" style="background-color:teal; border:none; color:white;" >Edit</button>
    <button type="button" disabled class="btn btn-danger" style="background-color:tomato; border:none; color:white;" >Delete</button>
    <br><br>
    {% endif %}
  {% endfor %}
{% endblock content %}

<!-- Menu column on the left -->
{% block menu %}
  <h4>
    <ul class="nav nav-pills nav-stacked" style="margin-left:10px; margin-right:100px">
      <li class=""><a href="{% url 'articles:list_articles' %}" style=color:purple>Articles</a></li>
      <li class=""><a href="{% url 'articles:create_articles' %}" style=color:purple>Create Article</a></li>
      <li class="active"><a href="{% url 'articles:edit_articles' %}" style="background-color:yellowgreen; background-size: 100px 100px; color:white;">Edit Article</a></li>    
    </ul> 
  </h4>
{% endblock menu %}

