{% extends 'articles/base.html' %}

{% block content %}
    {% for article in articles %}
        
        <h2>{{ article.title }}</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by {{ article.author }}, {{ article.created_at }}</h5>
        <a href="{% url 'articles:edit_this_article' pk=article.pk %}" class="btn btn-info">Edit</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal{{article.title}}">Delete</button>

<!-- Modal -->
<div class="modal fade" id="myModal{{article.title}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this article ?</h4>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="{% url 'articles:delete_article' pk=article.pk %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
<br><br>
    {% endfor %}

{% endblock %}


{% block menu %}
	<ul class="nav nav-pills nav-stacked">
        <li class=""><a href="{% url 'articles:list_articles' %}" style=color:goldenrod>Articles</a></li>
        <li class=""><a href="{% url 'articles:create_articles' %}" style=color:goldenrod>Create Article</a></li>
        <li class="active"><a href="{% url 'articles:edit_articles' %}" style="background-color:powderblue; color:blue;">Edit Article</a></li>    
      </ul>
{% endblock %}