{% extends 'articles/base.html' %}

{% block content %}
   
  {% for article in articles %}
    <h2>{{ article.title }}</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by {{ article.author }}, {{ article.created_at }}</h5>
    <p>{{ article.description|truncatechars:80}}</p>
    <a href="{% url 'articles:detail_articles' article.pk %}" style="color:rgb(7, 219, 247)">Click here to read more...</a>
    <br><br>
  {% endfor %}
   
{% endblock %}

{% block menu %}
	<ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="{% url 'articles:list_articles' %}" style="background-color:powderblue; color:blue;">Articles</a></li>
        <li class=""><a href="{% url 'articles:create_articles' %}" style=color:goldenrod>Create Article</a></li>
        <li class=""><a href="{% url 'articles:edit_articles' %}" style=color:goldenrod>Edit Article</a></li>    
      </ul>
{% endblock %}

